
<section class={{this.ELEM_CLASSES.CANVAS_QUERY_PANEL}}>
    <div 
        clasas="collage-search small-12 cell {{if this.visible "none" }} "
        {{did-insert this.didInsertWrapper}}
    >
        <h2 class="panel-title">Canvas Queries</h2>

        <div id="collageTemporalQueries">
            
            <QueryCanvas 
                @onClickAddTextBtnTot={{this.onClickAddTextBtnTot}}
                @onRemoveItem={{this.onRemoveItem}} @index=0 @texts={{this.texts.[0]}} @model={{@model}} />
            <div class="query-canvas-connector-cont">
                {{#if this.features.allow_canvas_query_text}}
                <a
                    {{on "click" this.onClickAddTextBtn}}
                     class="btn btn-success add-collage-text-query">+</a>

                {{/if}}
                <span class="canvas text-divider"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            </div>

            <QueryCanvas 
                @onClickAddTextBtnTot={{this.onClickAddTextBtnTot}}
                @onRemoveItem={{this.onRemoveItem}} @index=1 @texts={{this.texts.[1]}} @model={{@model}} />

        </div>
    </div>
    
{{#if this.features.allow_canvas_query_bitmap}}
    <script>
        let collage_temporal_queries;
        let collage_canvases;

        function deleteElementByUid(uid) {
            var elem = document.getElementById(uid);
            elem.remove();
        }

        /**
         * Call the "resizable" & "dragable" functionality on the p rovided elements.
         */
        function draggableAndResizable(elements, containment) {
            elements.draggable({
                containment: containment
            });
            elements.resizable({
                containment: containment,
                aspectRatio: false,
            });
        }
        
        function collageImageElement(uid, src) {
            
            return $(
                `<div id="${uid}" class="
                    canvas-query
                    bitmap
                    ui-widget-content"
                >
                    <span class="delete" onclick="deleteElementByUid($(this).closest('div').attr('id'))">&times;</span>
                    <img src="${src}">
                </div>`
            );
        }


        $(document).ready(function() {
            collage_temporal_queries = $("#collageTemporalQueries");
            collage_canvases = $(".collage-canvas")
            var available_id = 0;
        
        
            $(document).on('paste', function (event) {
                const active_canvas = $(".paste-active");
                // use event.originalEvent.clipboard for newer chrome versions
                var items = (event.clipboardData || event.originalEvent.clipboardData).items;
                // find pasted image among pasted items
                var blob = null;
                for (var i = 0; i < items.length; i++) {
                    if (items[i].type.indexOf("image") === 0) {
                        blob = items[i].getAsFile();
                    }
                }
                // load image if there is a pasted image
                if (blob !== null) {
                    var reader = new FileReader();
                    reader.onload = function (event) {
                        const encoded_image = event.target.result;
                        const collage_image = collageImageElement("image_" + available_id, encoded_image);
                        draggableAndResizable(collage_image, active_canvas);
                        active_canvas.append(collage_image);
                        available_id++;
                    };
                    reader.readAsDataURL(blob);
                }
            });



            
        });
    
    </script>

     {{/if}}
</section>
