{{!-- This file is part of SOMHunter UI.
 *
 * Copyright (C) 2022    Frantisek Mejzlik <frankmejzlik@protonmail.com>
 *                       Vit Skrhak <vitek.skrhak@seznam.cz>
 *                       Patrik Veselý <prtrikvesely@gmail.com>
 * 
 *  SOMHunter UI is free software: you can redistribute it and/or modify it under
 *  the terms of the GNU General Public License as published by the Free
 *  Software Foundation, either version 2 of the License, or (at your option)
 *  any later version.
 * 
 *  SOMHunter UI is distributed in the hope that it will be useful, but WITHOUT ANY
 *  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 *  FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
 *  details.
 * 
 *  You should have received a copy of the GNU General Public License along with
 *  SOMHunter UI. If not, see <https://www.gnu.org/licenses/>.
 --}}
 

<div class="custom-modal-window detail-window-modal {{if this.windowVisible "visible"}}">
    <div id={{this.ELEM_IDS.DETAIL_WINDOW}} 
        class="detail-window"
        {{on "scroll" this.onScroll}}    
    >
        <div id={{this.ELEM_IDS.DETAIL_WINDOW_SLIDER}} 
            class="slider-row"
        >

            {{#if this.windowVisible}}

                {{#if this.displayedFrames}}
                    {{#each this.displayedFrames as |frame|}}
                        <Frame 
                            @frame={{frame}} 
                            @forceVisible={{true}}
                        />
                    {{/each}}
                {{/if}}

            {{/if}}

        </div>
    </div>


    <!-- We need to enforce the frame sizes so our calculations match! -->
    {{#if (and this.cssFrameWidth this.cssFrameHeight)}}
        <style>
            #{{this.ELEM_IDS.DETAIL_WINDOW}} .frame {
                width: {{this.cssFrameWidth}} !important;
                height: {{this.cssFrameHeight}} !important;
            }
            /* So button sizes scale propperly. */
            #{{this.ELEM_IDS.DETAIL_WINDOW}} .frame * { 
                font-size: 10px; 
            }
        </style>
    {{/if}}

</div>

<style>
    .detail-window {
        width:{{this.modalSliderW}}px; 
        height:{{this.modalSliderH}}px;
    }
</style>
