{{#if this.isFrameDefined}}
<div class="frame col-2 {{if @frame.highlighted "highlighted"}} {{if @frame.liked "liked"}} {{if this.fade "seen"}}"  
    style={{thumb this.thumbsUrlPrefix @frame.src}} 
    data-id={{@frame.id}}
    {{on "wheel" this.onWheel}}
    {{on "click" this.onClickFrame}}
    data-src={{@frame.src}}
    title="hour: {{@frame.hour}}&#013;weekday: {{this.weekday}}&#013;year: {{@frame.year}}&#013;LscId: {{@frame.lscId}}"
>
    
        <div class="frame-overlay"data-id={{@frame.id}} >
            <span class="meta-data-cont">
                <span class="video-ID">{{@frame.vId}}</span>|
                <span class="shot-ID">{{@frame.sId}}</span>|
                <span class="frame-ID">{{@frame.id}}</span>
            </span>

            <button type="button" class="btn-zoom btn-secondary"
                data-id={{@frame.id}} {{on "click" (fn this.onZoomBtnClick @frame.src)}}><i class="fa fa-search-plus" aria-hidden="true"></i></button>            

            <button type="button" class="btn-bookmark btn btn-warning"
                data-id={{@frame.id}} {{on "click" this.onBookmarkBtnClick}}><i class="fa fa-star" aria-hidden="true"></i></button>            

            <button type="button" class="btn-submit btn btn-success"
                data-id={{@frame.id}} {{on "click" this.onSubmitBtnClick}}><i class="fa fa-check" aria-hidden="true"></i></button>            

            <button type="button" data-id={{@frame.id}} class="btn-detail btn btn-primary"
                {{on "click" this.onDetailBtnClick}}>Detail</button>            

            <button type="button" data-id={{@frame.id}} class="btn-knn btn btn-primary"
                {{on "click" this.onKnnBtnClick}}>k-NN</button>            
        </div>  
</div>
{{else}}

<div class="frame empty col-2"  >

</div>

{{/if}}  
