
{{#if this.blockingNotification}}

    <div class="blocking-notification-cont">  
        <div class="toast huge blocking-notification {{this.blockingNotification.type}}">
            <h2 class="toast-header">{{this.blockingNotification.title}}</h2>
            {{#if this.blockingNotification.message}}
                <div class="toast-body">{{this.blockingNotification.message}}</div>
            {{/if}}
            <div class="unstuck-panel">
                <span class="stuck-msg">Got stuck?</span>
                <button class="btn-danger btn" type="button" {{on "click" this.unblock}}>Unstuck</button>
            </div>
        </div>
    </div>

{{/if}}

<div class="global-notifications-cont">  


    {{#if this.notifications}}
        {{#each this.notifications as |not|}}

            <div class="toast {{not.type}}">
                <div class="toast-header">
                    <p class="mr-auto">{{not.title}}</p>
                    <button type="button" class="ml-2 mb-1 close" aria-label="Close"
                        onclick="this.parentElement.parentElement.remove()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{#if not.message}}
                    <div class="toast-body">{{not.message}}</div>
                {{/if}}
            </div>
            
        {{/each}}
    {{/if}}

</div>