<div class="history-panel container fluid panel">
    <div class="row">
        <div class="col-12 p-0">
            <h1 class="panel-title"> History</h1>
            <ul class="history-list"
                {{did-update this.didUpdateAttrs @model}}
            >
                
                {{#if this.historyItems}}

                    
                        {{#each this.historyItems as |item|}}
                            <li
                                class="history-item {{if (eq item.id this.currentSearchId) "active" }}"
                                data-history-id={{item.id}}
                                {{on "click" this.onClickHistoryItem}}
                            >
                                {{#if item.screenshotFilepath}}
                                    <img src={{item.screenshotFilepath}} />
                                {{else}}
                                    <img src="/assets/img/history_screenshot.jpg"  />
                                {{/if}}
                                <span className="title">{{item.id}}</span>
                                <span className="time">{{item.time}}</span>
                            </li>
                        {{/each}}
                    

                {{/if}}

            </ul>
        </div>
    </div>
</div>