{{!-- This file is part of SOMHunter UI.
 *
 * Copyright (C) 2022    Frantisek Mejzlik <frankmejzlik@gmail.com>
 *                       Vit Skrhak <vitek.skrhak@seznam.cz>
 *                       Patrik Veselý <prtrikvesely@gmail.com>
 * 
 *  SOMHunter UI is free software: you can redistribute it and/or modify it under
 *  the terms of the GNU General Public License as published by the Free
 *  Software Foundation, either version 2 of the License, or (at your option)
 *  any later version.
 * 
 *  SOMHunter UI is distributed in the hope that it will be useful, but WITHOUT ANY
 *  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 *  FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
 *  details.
 * 
 *  You should have received a copy of the GNU General Public License along with
 *  SOMHunter UI. If not, see <https://www.gnu.org/licenses/>.
 --}}
 
<div class="history-panel container fluid panel">
    <div class="row">
        <div class="col-12 p-0">
            <h1 class="panel-title"> History</h1>
            <ul class="history-list"
                {{did-update this.didUpdateAttrs @model}}
            >
                
                {{#if this.historyItems}}

                    
                        {{#each this.historyItems as |item|}}
                            <li
                                class="history-item {{if (eq item.id this.currentSearchId) "active" }}"
                                data-history-id={{item.id}}
                                {{on "click" this.onClickHistoryItem}}
                            >
                                {{#if item.screenshotFilepath}}
                                    <img src={{item.screenshotFilepath}} />
                                {{else}}
                                    <img src="/assets/img/history_screenshot.jpg"  />
                                {{/if}}
                                <span class="title">{{item.id}}</span>
                                <span class="time">{{item.time}}</span>
                            </li>
                        {{/each}}
                    

                {{/if}}

            </ul>
        </div>
    </div>
</div>
