{{!-- This file is part of SOMHunter UI.
 *
 * Copyright (C) 2022    Frantisek Mejzlik <frankmejzlik@gmail.com>
 *                       Vit Skrhak <vitek.skrhak@seznam.cz>
 *                       Patrik Veselý <prtrikvesely@gmail.com>
 * 
 *  SOMHunter UI is free software: you can redistribute it and/or modify it under
 *  the terms of the GNU General Public License as published by the Free
 *  Software Foundation, either version 2 of the License, or (at your option)
 *  any later version.
 * 
 *  SOMHunter UI is distributed in the hope that it will be useful, but WITHOUT ANY
 *  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 *  FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
 *  details.
 * 
 *  You should have received a copy of the GNU General Public License along with
 *  SOMHunter UI. If not, see <https://www.gnu.org/licenses/>.
 --}}
 

{{!-- <h1>Current model ID: {{@model.id}}</h1> --}}

<TopButtonsPanel />

<FiltersPanel @model={{@model}} />

{{#if this.features.allow_plain_text_quey}}
    <TextSearchPanel @model={{@model}} />
{{/if}}

{{#if this.features.allow_relocation}}
    <RelocationPanel @model={{@model}} />
{{/if}}

{{#if this.features.allow_canvas_query}}
    <CanvasQueryPanel @model={{@model}} />
{{/if}}

{{#if this.features.show_likes_panel}}
    <LikesPanel @frames={{@model.userContext.search.likedFrames}} />
{{/if}}

<MainButtonsPanel @model={{@model}}/>

{{#if this.features.show_bookmarks_panel}}
    <BookmarksPanel @frames={{@model.userContext.bookmarkedFrames}} />
{{/if}}

{{#if this.features.allow_history_switch}}
    <HistoryPanel @model={{@model}} />
{{/if}}

<BottomButtonsPanel @model={{@model}} />
