
{{!-- <h1>Current model ID: {{@model.id}}</h1> --}}

<TopButtonsPanel />

<TextSearchPanel @model={{@model}} />

<RelocationPanel @model={{@model}} />

<CanvasQueryPanel @model={{@model}} />

<LikesPanel @frames={{@model.userContext.search.likedFrames}} />

<MainButtonsPanel @model={{@model}}/>

<BookmarksPanel @frames={{@model.userContext.bookmarkedFrames}} />

<HistoryPanel @model={{@model}} />


<BottomButtonsPanel @model={{@model}} />
