<div class="main buttons-panel container-fluid col-12">

    <div class="row">
        <div class="rescore-btns-const col-12">
            <button class="btn-rescore btn-primary btn" type="button" {{on "click" this.onClickRescoreTopScoredBtn}}>Rescore<br/>Top Scored
                View</button>
            <button class="btn-rescore btn-primary btn" type="button" {{on "click" this.onClickRescoreSomScoredBtn}}>Rescore<br/>SOM View</button>

        {{#if this.collectorMode}}
            <hr />
            <button class="large special btn-rescore btn-secondary btn" type="button" {{on "click" this.onClickSave}}>Save query</button>
            <hr />
        {{/if}}

        </div>
    </div>

    <div class="row">
        <div class="change-view-btns col-12">
            <button class="btn-secondary btn" type="button" {{on "click" this.onClickTopScoredBtn}}>Top Scored
                View</button>
            <button class="btn-secondary btn" type="button" {{on "click" this.onClickSomBtn}}>SOM View</button>
        </div>
    </div>
</div>