
{{!-- <h1>Current model ID: {{@model.id}}</h1> --}}

<TopButtonsPanel />

<FiltersPanel @model={{@model}} />

{{#if this.features.allow_plain_text_quey}}
    <TextSearchPanel @model={{@model}} />
{{/if}}

{{#if this.features.allow_relocation}}
    <RelocationPanel @model={{@model}} />
{{/if}}

{{#if this.features.allow_canvas_query}}
    <CanvasQueryPanel @model={{@model}} />
{{/if}}

{{#if this.features.show_likes_panel}}
    <LikesPanel @frames={{@model.userContext.search.likedFrames}} />
{{/if}}

<MainButtonsPanel @model={{@model}}/>

{{#if this.features.show_bookmarks_panel}}
    <BookmarksPanel @frames={{@model.userContext.bookmarkedFrames}} />
{{/if}}

{{#if this.features.allow_history_switch}}
    <HistoryPanel @model={{@model}} />
{{/if}}

<BottomButtonsPanel @model={{@model}} />
