{{!-- This file is part of SOMHunter UI.
 *
 * Copyright (C) 2022    Frantisek Mejzlik <frankmejzlik@protonmail.com>
 *                       Vit Skrhak <vitek.skrhak@seznam.cz>
 *                       Patrik Veselý <prtrikvesely@gmail.com>
 * 
 *  SOMHunter UI is free software: you can redistribute it and/or modify it under
 *  the terms of the GNU General Public License as published by the Free
 *  Software Foundation, either version 2 of the License, or (at your option)
 *  any later version.
 * 
 *  SOMHunter UI is distributed in the hope that it will be useful, but WITHOUT ANY
 *  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 *  FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
 *  details.
 * 
 *  You should have received a copy of the GNU General Public License along with
 *  SOMHunter UI. If not, see <https://www.gnu.org/licenses/>.
 --}}
 

<div class="canvas-wrapper {{this.canvasElemId}}">
    <div 
        id={{this.canvasElemId}} 
        class="collage-canvas" 
        {{did-update this.didUpdateAttrs @texts}}
        {{on "click" @onClickAddTextBtnTot}}
        data-id={{@index}}
        {{on "click" (fn this.onClickQueryCanvas @index)}}>
        
        
        {{#if @texts}}
            {{#each @texts as |item|}}

                <div id="{{item.id}}" class="
                    canvas-query
                    text
                    ui-widget-content"
                    {{did-insert this.didInsert}}
                    style="height: 60px;width:100px; left: calc(50% - 50px); top: calc(50% - 30px);"
                    
                    
                >
                    <span class="delete" 
                        {{on "click" (fn @onRemoveItem item.id @index)}}
                        
                    >
                    &times;                       
                    </span>
                    <TextAutocomplete @model={{@model}} @id={{item.id}} @value={{item.text}}/>
                </div>
            
        
            {{/each}}
        {{/if}}

    </div>
</div>
