{{!-- <h1>Current model ID: {{@model.id}}</h1> --}}

<div class="relocation-panel container-fluid col-12">
    <div class="row">
        <div class="col-3 p-0 pr-3">
            <button type="button" data-id=0 class="btn-detail btn btn-primary" {{on "click"
                this.onRelocationBtnClick0}}>Reloc.</button>

        </div>
        <div class="col-3 relocation-frame">
            {{#if this.relocation0}}
                <Frame @frame={{this.relocation0}} id="relocationFrame0" />
                <input type="hidden" id="relocationFrame0" value={{this.relocation0.id}}/>
            {{/if}}
        </div>

        <div class="col-3 p-0 pr-3">
            <button type="button" data-id=1 class="btn-detail btn btn-primary" {{on "click"
                this.onRelocationBtnClick1}}>Reloc.</button>

        </div>
        <div class="col-3 relocation-frame">
            {{#if this.relocation1}}
                <Frame @frame={{this.relocation1}}  />
                <input type="hidden" id="relocationFrame1" value={{this.relocation1.id}} />
            {{/if}}
        </div>
    </div>
</div>