{{!-- This file is part of SOMHunter UI.
 *
 * Copyright (C) 2022    Frantisek Mejzlik <frankmejzlik@protonmail.com>
 *                       Vit Skrhak <vitek.skrhak@seznam.cz>
 *                       Patrik Veselý <prtrikvesely@gmail.com>
 * 
 *  SOMHunter UI is free software: you can redistribute it and/or modify it under
 *  the terms of the GNU General Public License as published by the Free
 *  Software Foundation, either version 2 of the License, or (at your option)
 *  any later version.
 * 
 *  SOMHunter UI is distributed in the hope that it will be useful, but WITHOUT ANY
 *  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 *  FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
 *  details.
 * 
 *  You should have received a copy of the GNU General Public License along with
 *  SOMHunter UI. If not, see <https://www.gnu.org/licenses/>.
 --}}
 
<div {{on "keydown" this.onKeyDown}} class="text autocomplete md-form">
  <input 
    id="textQueryInput{{@id}}" 
    class="form-control mdb-autocomplete" 
    type="search" 
    value={{this.inputValue}} 
    selectionStart={{this.cursorIdx}}
    {{did-update this.didUpdateAttrs @model}}
    {{!-- {{on "input" this.updateInputValue}} --}}
  />

  {{#if this.suggestions}}
    <ul class="text-suggestions-list">
        {{#each this.suggestions as |s index|}}
            <li  class="{{if (eq this.selIdx index) 'selected' }} text-suggestions-item" 
            {{on "click" (fn this.setChosenWord s.wordString) }}
          >
            {{s.wordString}}

              <ul class="keyword-example-frames-list">
                {{#each s.exampleFrames as |frameSrc|}}
                    <li class="example-frame"><img src="{{this.thumbsUrlPrefix}}{{frameSrc}}"></li>
                    {{/each}}
                </ul>
            </li>      
        {{/each}}
    </ul>
  {{/if}}
</div>
