

<div {{on "keydown" this.onKeyDown}} class="text autocomplete md-form"
  
>
  <input 
    id="textQueryInput{{@id}}" 
    class="form-control mdb-autocomplete" 
    type="search" 
    value={{this.inputValue}} 
    selectionStart={{this.cursorIdx}}
    {{did-update this.didUpdateAttrs @model}}
    {{on "input" this.updateInputValue}}
  />

  {{#if this.suggestions}}
    <ul class="text-suggestions-list">
        {{#each this.suggestions as |s index|}}
            <li  class="{{if (eq this.selIdx index) 'selected' }} text-suggestions-item" 
            {{on "click" (fn this.setChosenWord s.wordString) }}
          >
            {{s.wordString}}
            </li>      
        {{/each}}
    </ul>
  {{/if}}
</div>