{{page-title "SOMHunter"}}

{{!-- <h1>Current model ID: {{@model.id}}</h1> --}}

<section class="somhunter-ui">

{{#if (and (and @model.userContext @model.coreSettings) (and (not @model.userContext.error) (not @model.coreSettings.error)) ) }}
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div id="mainPanel" class="main-panel col-3">
        
        <!-- Main grid -->
        <MainPanel @model={{@model}} @title="Main Panel"/>
        
      </div>
      <div id="mainWindow" class="col-9">
          
        <!-- Main grid -->
        <MainGrid @model={{@model}} />
      
      </div>
    </div>
  </div>


  <section class="modals section">
    <DetailWindow />
    <RelocationWindow />
    <ZoomWindow />
    <ReplayWindow />

    <CollectorWindow @model={{@model}} />

    <DebugWindow @model={{@model}} />

    <HelpWindow @model={{@model}} />
    <SettingsWindow @model={{@model}} />
    
  </section>

  <section class="notifications section">
    <GlobalNotificationWindow />
  </section>

{{else}}

  {{#if @model.coreSettings.error}}

    <div class="container">
      <div class="absolute-centered alert alert-danger text-center" role="alert">
        <h3>Error loading core settings from '{{@model.coreSettings.url}}'!</h3>
        <hr>
        <button type="button" class="btn btn-primary" onclick="location.reload()">Reload</button>
      </div>
    </div>

  {{else}}
    {{#if @model.userContext.error}}
      <div class="container">
        <div class="absolute-centered alert alert-danger text-center" role="alert">
          <h3>Error loading user context from `{{@model.userContext.url}}` !</h3>
          <hr>
          <button type="button" class="btn btn-primary" onclick="location.reload()">Reload</button>
        </div>
      </div>
    {{else}}
      <div class="container">
        <div class="absolute-centered alert alert-warning text-center" role="alert">
          <h1>Loading...</h1>
        </div>
        </div>
    {{/if}}
  {{/if}}
{{/if}}


</section>

{{outlet}}
