{{page-title "Index"}}


{{#if (and @model.userContext @model.coreSettings) }}


<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-4">
      
      <!-- Main grid -->
      --Main Panel--

    </div>
    <div class="col-8">
        <div class="main-grid-row row">
        <!-- Main grid -->
        <MainGrid @frames={{@model.mainDisplay.frames}} />
      </div>
    </div>
  </div>
</div>

{{else}}

  {{#if @model.coreSettings.error}}

    <div class="container">
      <div class="alert alert-danger text-center" role="alert">
        <h3>Error loading core settings fro m `{{@model.coreSettings.url}}`!</h3>
        <hr>
        <button type="button" class="btn btn-primary" onclick="location.reload()">Reload</button>
      </div>
    </div>

  {{else}}
    {{#if @model.userContext.error}}
      <div class="container">
        <div class="alert alert-danger text-center" role="alert">
          <h3>Error loading user context from `{{@model.userContext.url}}` !</h3>
          <hr>
          <button type="button" class="btn btn-primary" onclick="location.reload()">Reload</button>
        </div>
      </div>
    {{else}}
      <div class="container">
        <div class="alert alert-warning text-center" role="alert">
          <h1>Loading...</h1>
        </div>
        </div>
    {{/if}}
  {{/if}}
{{/if}}

{{outlet}}